<!DOCTYPE html>
<html>
  <body>
    <h2>Hello {{email}},</h2>
    <p>Your OTP code is: <b>{{otp}}</b></p>
    <p>This code will expire in {{expiresIn}} seconds.</p>
    <hr />
    <small>{{appName}} Team</small>
  </body>
</html>
